body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none; 
    color: black; 
}
.container {
    width: 80%;
    margin: auto;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

header .logo h1 {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
    transition: transform 0.3s ease, font-weight 0.3 ease;
    font-weight: bold;
}

#user-reg{
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.0);
}

#bton :hover {
    background-color: #1a3a60 ;
    font-weight: bolder;
    color: white;
    transform: scale(1.0);
    transition: font-size 0.5s ease-in 0.1s;
}
.flex-container {
    display: flex;
}

.sidebar {
    width:25%;
    background: #e2e2e2;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #d1d1d1;
}

#update-prof{
    background: #d1d1d1;
}
.form {
    width: 70%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #1a3a60; 
    outline: none;
}

.btn {
    background: #35424a;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background: #285c84;

}

